<p id="notice"><%= notice %></p>

<h1>VacunaT</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Frigorifico', mivacunas_path %></th>
      <th><%= link_to 'Diario', diarios_path %></th>
      <th>Desechos</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>

<br>


